
.contact-section {
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.contact-info {
  font-size: 1.2rem;
  margin: 10px 0;
  font-family: 'Courier New', Courier, monospace;
}

.home-container{
  background-color: #221907; 
  background-size: cover;
 
}
.image img{
  width: 100%;
  height: 80vh;
}
.title-block{
  color: #f8f8f8;
  
  font-family: 'Courier New', Courier, monospace;
}
